* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-intro {
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo {
    width: 150px;
    height: 150px;
}

.box-fruit {
    position: relative;
}

.card {
    transition: filter 0.3s ease;
}

.blurred .card-img-top {
    filter: blur(5px);
}

.fruit-image-wrapper {
    position: relative;
}

.informazioni-nutrizionali {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000ab;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .logo {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 1068px) {

    .form-control {
        max-width: 90%;
    }

    .box-fruit {
        flex: 0 0 100%;
        max-width: 90%;
    }
}